-#  This file is app/views/movies/index.html.haml

-# note if the 2 strings in sortable method match from database to website,  you don't have to put both. title is DB, Movie Title is website
  -# same for release date below
      
  -# ALSO Note that sortable is not rails api, its a method WE created and are calling from the controller
  -# also, don't be thrown off by the syntax, these two things are just PARAMETERS, we just didn't use parenthases like you would in Java
    
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => ("hilite" if @sort == "title")}=  sortable("title", "Movie Title")
      
      
      %th Rating
      %th{:class => ("hilite" if @sort == "release_date")}= sortable("release_date", "Release Date")
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
