-#  This file is app/views/movies/index.html.haml

-# note if the 2 strings in sortable method match from database to website,  you don't have to put both. title is DB, Movie Title is website
  -# same for release date below
      
  -# ALSO Note that sortable is not rails api, its a method WE created and are calling from the controller
  -# also, don't be thrown off by the syntax, these two things are just PARAMETERS, we just didn't use parenthases like you would in Java
  
  -#%th{:class => ("hilite" if @sort == "title")}=  sortable("title", "Movie Title") 
  -#%th{:class => ("hilite" if @sort == "title")}= sortable("title", "Movie Title"), link_to "Movie Title", movies_path( :ratings => @selected_ratings), :id => "title_header" 
  -#%th{:class => ("hilite" if @sort == "release_date")}= sortable("release_date", "Release Date")
  -#%th{:class => ("hilite" if @sort == "release_date")}= sortable("release_date", "Release Date"), link_to "Release Date", movies_path( :ratings => @selected_ratings), :id => "release_date_header" 
      
      
      
    
%h1 All Movies
= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 'yes', @checked[rating]
  = submit_tag 'Refresh', :id=>"ratings_submit"
%table#movies
  %thead
    %tr
      
      
      %th{ :style  => ("background-color: yellow;" if @sort == "title") }= link_to "Movie Title", movies_path(:sort => "title", :ratings => @selected_ratings), :id => "title_header"
      
      %th Rating
      
      %th{ :style  => ("background-color: yellow;" if @sort == "release_date") }= link_to "Release Date", movies_path(:sort => "release_date", :ratings => @selected_ratings), :id => "release_date_header"
      
      
      
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
